{% load static %}

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'welcome' %}">&#128056</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                goals
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-light" href="{% url 'active.notimespan.goals.list' %}">all</a></li>
                                <li><hr class="dropdown-divider bg-light"></li>
                                <li><a class="dropdown-item text-light" href="{% url 'active.daily.goals.list' %}">daily</a></li>
                                <li><a class="dropdown-item text-light" href="{% url 'active.weekly.goals.list' %}">weekly</a></li>
                                <li><a class="dropdown-item text-light" href="{% url 'active.monthly.goals.list' %}">monthly</a></li>
                                <li><a class="dropdown-item text-light" href="{% url 'active.yearly.goals.list' %}">yearly</a></li>
                            </ul>
                        </li>
                        <a class="nav-link active" aria-current="page" href="{% url 'goals.new' %}" style="color: yellowgreen;">new</a>

                    </ul>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse justify-content-end align-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav justify-content-end">
                        {% if user.is_authenticated %}
                        <li class="nav-item ms-auto">
                            <a class="nav-link text-light" href="{% url 'logout' %}">log out</a>
                        </li>
                        {% else %}
                        <li class="nav-item ms-right">
                            <a class="nav-link text-light" href="{% url 'login' %}">log in</a>
                        </li> 
                        <li class="nav-item ms-right">
                            <a class="nav-link text-light" href="{% url 'signup' %}">register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>  
        {% block content %}
        {% endblock %}

    </body>
</html>