{% extends 'goals/base.html' %}

{% block content %}
<div class="container my-5">
    <div style="text-align: left; margin: 0 auto; width: 600px">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{form.title.errors}}
                <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                {{form.title}}
            </div>
            <div class="mb-3">
                {{form.text.errors}}
                <label for="{{ form.text.id_for_label }}" class="form-label">Description</label>
                {{form.text}}
            </div>
            <div class="mb-3">
                {{form.timespan.errors}}
                <label for="{{ form.timespan.id_for_label }}" class="form-label">Timespan</label>
                {{form.timespan}}
            </div>
            <button type="submit" style="background-color: yellowgreen;" class="btn">Submit</button>
            <a href="{% url 'goals.list' %}" class="btn btn-secondary">Cancel</a>
        </form>
        {% if form.errors %}
        <div class="alert alert-danger my-5">
            {{form.errors.title.as_text}}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}