{% extends "goals/base.html" %}

{% block content %}
    <div class="container">
        {% if goal_type != "notimespan" %}
            <h1 class="my-5"><strong>{{goal_status}} {{goal_type}} goals</strong></h1>
        {% else %}
            <h1 class="my-5"><strong>{{goal_status}} goals</strong></h1>
        {% endif %}
        <div class="container-fluid my-2">
            {% with goal_type as type %}
                {% with "active."|add:type|add:".goals.list" as active %}
                    <a class="me-2" href="{% url active %}">active</a>
                {% endwith %}
                {% with "all."|add:type|add:".goals.list" as all %}
                    <a class="me-2" href="{% url all %}">all</a>
                {% endwith %}
            {% endwith %}
        </div>
        <div class="row row-cols4 g-2">
            {% for goal in goals %}
            <div class="card my-2 mb-2 me-2" style="width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'goals.update' pk=goal.id %}" class="text-dark text-decoration-non">
                        <h5 class="card-title">{{ goal.title }}</h5>
                    </a>
                    <p class="card-text">{{goal.text|truncatechars:20}}</p>
                    {% if goal.completed %}
                        <h6 class="card-subtitle mb-2" style="color: limegreen;"><strong>Completed</strong></h6>
                    {% else %}
                        <h6 class="card-subtitle mb-2" style="color: darkorange;"><strong>In Progress</strong></h6>
                    {% endif %}
                </div>
               <div class="card-body fs-6">
                    <a class="me-2" href="{% url 'goals.delete' pk=goal.id%}">complete</a>
                    <a class="me-2" href="{% url 'goals.delete' pk=goal.id%}">delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="position:absolute; right:5%; bottom:3%;">
            <form action="{% url 'goals.new' %}">
                <input type="submit"  class="form-control btn btn-lg text-light me-1" style="background-color: yellowgreen" value="New">
            </form>
            <form action="{% url 'goals.new' %}">
                <input type="submit"  class="form-control btn btn-lg text-light me-1" style="background-color: limegreen" value="New from Template">
            </form>
        </div>
    </div>
{% endblock %}

