{% extends "goals/base.html" %}

{% block content %}
    <div class="container">
        {% if goal_type != "notimespan" %}
            <h1 class="my-5"><strong>{{goal_status}} {{goal_type}} goals - {{percent}}% completed</strong></h1>
        {% else %}
            <h1 class="my-5"><strong>{{goal_status}} goals - {{percent}}% completed</strong></h1>
        {% endif %}
        <div class="container-fluid my-2">
            {% with goal_type as type %}
                {% with "active."|add:type|add:".goals.list" as active %}
                    <a class="me-2" href="{% url active %}">active</a>
                {% endwith %}
                {% with "all."|add:type|add:".goals.list" as all %}
                    <a class="me-2" href="{% url all %}">all</a>
                {% endwith %}
            {% endwith %}
        </div>
        <div class="row row-cols4 g-2">
            {% for goal in goals %}
            <div class="card my-2 mb-2 me-2" style="width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'goals.update' pk=goal.id %}" class="text-dark text-decoration-non">
                        <h5 class="card-title">{{ goal.title }}</h5>
                    </a>
                    <p class="card-text">{{goal.text|truncatechars:20}}</p>
                    {% if goal.completed %}
                        <h6 class="card-subtitle mb-2" style="color: green;"><strong>Completed</strong></h6>
                    {% else %}
                        <h6 class="card-subtitle mb-2" style="color: orangered;"><strong>In Progress</strong></h6>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {% if goal.completed %}
                                <form action="{% url 'goals.uncomplete' pk=goal.id%}" method="POST">
                                {% csrf_token %}
                                    <input type="submit" class="form-control btn btn-outline-dark btn-sm" value="uncomplete">
                                </form>
                            {% else %}
                            <form action="{% url 'goals.complete' pk=goal.id %}" method="POST">
                            {% csrf_token %}
                                <input type="submit" class="form-control btn btn-outline-dark btn-sm" value="complete">
                            </form>
                            {% endif %}
                        </div>
                        <div class="col">   
                            <form action="{% url 'goals.delete' pk=goal.id%}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="form-control btn btn-outline-danger btn-sm" value="delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="position:absolute; right:5%; bottom:3%;">
            <form action="{% url 'goals.new' %}">
                <input type="submit"  class="form-control btn btn-outline-dark me-1" value="new">
            </form>
        </div>
    </div>
{% endblock %}

