{% extends "goals/base.html" %}

{% block content %}
    <div class="container">
        <h1 class="my-5">My Goals</h1>
        <div class="row row-cols4 g-2">
            {% for goal in goals %}
            <div class="card my-2 mb-2 me-2" style="width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'goals.update' pk=goal.id %}" class="text-dark text-decoration-non">
                        <h5 class="card-title">{{ goal.title }}</h5>
                    </a>
                    <p class="card-text">{{goal.text|truncatechars:20}}</p>
                    {% if goal.completed %}
                        <h6 class="card-subtitle mb-2" style="color: limegreen;"><strong>Completed</strong></h6>
                    {% else %}
                        <h6 class="card-subtitle mb-2" style="color: darkorange;"><strong>In Progress</strong></h6>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="position:absolute; right:5%; bottom:3%;">
            <form action="{% url 'goals.new' %}">
                <input type="submit"  class="form-control btn btn-lg text-light me-1" style="background-color: yellowgreen" value="New">
            </form>
            <form action="{% url 'goals.new' %}">
                <input type="submit"  class="form-control btn btn-lg text-light me-1" style="background-color: limegreen" value="New from Template">
            </form>
        </div>
    </div>
{% endblock %}

