{% extends "goals/base.html" %}

{% block content %}
    <div class="container justify-content-center my-5">
        <h1 class="">welcome to <strong>Gorg</strong> &#128056</h1>
        <h3 class="text-muted">
            a platform designed to help you achieve your goals.            
        </h3>
        <div class="my-5">
            <h5><strong>Features:</strong></h5>        
            <ul>
                <li>Create daily, weekly, monthly and yearly goals.</li>
                <li>Keep track of your unfinished goals.</li>
                <li>Get insights about your goals.</li>
            </ul>
        </div>
    </div>
{% endblock %}