{% extends "goals/base.html" %}

{% block content %}
    <div class="container justify-content-center my-5">
        <h1 class="">Welcome to <strong>Gorg</strong> &#128056</h1>
        <h3 class="text-muted">
            A platform designed to help you achieve your goals.            
        </h3>
        <div class="my-5">
            <h5><strong>Features:</strong></h5>        
            <ul>
                <li>Manage your daily, weekly, monthly and yearly goals</li>
                <li>Create goal templates for tasks that are done on a regular basis.</li>
                <li>Get insights about your goals.</li>
            </ul>
        </div>
    </div>
{% endblock %}